/**
    * @name Aki
    * @version 0.0.1
    * @description Aki theme
    * @author Djobbo
    * @source https://github.com/djobbo/aki
    * @website https://github.com/djobbo
**/

/* Lag fix */
:root *[class*="guilds-"] *[class*="scroller-"] {
    contain: none !important;
    padding-bottom: 170px;
}

* {
    box-sizing: border-box;
}

.theme-dark {
    --header-primary: #F5F5F5;
    --header-secondary: #D0D0D0;

    --text-normal: #D0D0D0;
    --text-muted: #D0D0D0;
    --text-link: #61AFEF;
    --text-link-low-saturation: #61AFEF;

    --text-positive: #98C379;
    --text-warning: #E5C07B;
    --text-danger: #E06C75;
    --text-brand: #61AFEF;

    --interactive-normal: #D0D0D0;
    --interactive-hover: #D0D0D0;
    --interactive-active: #F5F5F5;
    --interactive-muted: #808080;

    --background-primary: #383E4A;
    --background-secondary: #2C313A;
    --background-secondary-alt: #282C34;
    --background-tertiary: #21252B;
    --background-accent: #282C34;
    --background-floating: #21252B;
    --background-nested-floating: #2C313A;
    --background-mobile-primary: #383E4A;
    --background-mobile-secondary: #2C313A;

    --chat-background: #383E4A;
    --chat-border: #21252B;
    --chat-input-container-background: #383E4A;

    --background-modifier-hover: #383E4Add;
    --background-modifier-active: rgba(79, 84, 92, 0.48);
    --background-modifier-selected: rgba(79, 84, 92, 0.6);
    --background-modifier-accent: rgba(79, 84, 92, 0.48);

    --info-positive-background: #FF0000;
    --info-positive-foreground: #98C379;
    --info-positive-text: #F5F5F5;

    --info-warning-background: #FF0000;
    --info-warning-foreground: #E5C07B;
    --info-warning-text: #F5F5F5;

    --info-danger-background: #FF0000;
    --info-danger-foreground: #E06C75;
    --info-danger-text: #F5F5F5;

    --info-help-background: #FF0000;
    --info-help-foreground: #FF0000;
    --info-help-text: #F5F5F5;

    --status-positive-background: #FF0000;
    --status-positive-text: #F5F5F5;
    --status-positive: #98C379;

    --status-warning-background: #FF0000;
    --status-warning-text: #000;
    --status-warning: #E5C07B;

    --status-danger-background: #FF0000;
    --status-danger-text: #F5F5F5;
    --status-danger: #E06C75;

    --button-danger-background: #FF0000;
    --button-danger-background-hover: #FF0000;
    --button-danger-background-active: #FF0000;
    --button-danger-background-disabled: #FF0000;

    --button-positive-background: #FF0000;
    --button-positive-background-hover: #FF0000;
    --button-positive-background-active: #FF0000;
    --button-positive-background-disabled: #FF0000;

    --button-secondary-background: #808080;
    --button-secondary-background-hover: #808080;
    --button-secondary-background-active: #808080;
    --button-secondary-background-disabled: #808080;

    --button-outline-danger-text: #F5F5F5;
    --button-outline-danger-border: #FF0000;
    --button-outline-danger-background: #FF0000;
    --button-outline-danger-background-hover: #FF0000;
    --button-outline-danger-text-hover: #F5F5F5;
    --button-outline-danger-border-hover: #FF0000;
    --button-outline-danger-background-active: #FF0000;
    --button-outline-danger-text-active: #F5F5F5;
    --button-outline-danger-border-active: #FF0000;

    --button-outline-positive-text: #F5F5F5;
    --button-outline-positive-border: #FF0000;
    --button-outline-positive-background: #FF0000;
    --button-outline-positive-background-hover: #FF0000;
    --button-outline-positive-text-hover: #F5F5F5;
    --button-outline-positive-border-hover: #FF0000;
    --button-outline-positive-background-active: #FF0000;
    --button-outline-positive-text-active: #F5F5F5;
    --button-outline-positive-border-active: #FF0000;

    --button-outline-brand-text: #F5F5F5;
    --button-outline-brand-border: #FF0000;
    --button-outline-brand-background: hsla(0, 0%, 100%, 0);
    --button-outline-brand-background-hover: #FF0000;
    --button-outline-brand-text-hover: #F5F5F5;
    --button-outline-brand-border-hover: #FF0000;
    --button-outline-brand-background-active: #FF0000;
    --button-outline-brand-text-active: #F5F5F5;
    --button-outline-brand-border-active: #FF0000;

    --button-outline-primary-text: #F5F5F5;
    --button-outline-primary-border: #808080;
    --button-outline-primary-background: #FF0000;
    --button-outline-primary-background-hover: #808080;
    --button-outline-primary-text-hover: #F5F5F5;
    --button-outline-primary-border-hover: #808080;
    --button-outline-primary-background-active: #808080;
    --button-outline-primary-text-active: #F5F5F5;
    --button-outline-primary-border-active: #808080;

    --modal-background: #383E4A;
    --modal-footer-background: #2C313A;

    --scrollbar-thin-thumb: #61AFEF;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #61AFEF;
    --scrollbar-auto-track: #2C313A;
    --scrollbar-auto-scrollbar-color-thumb: #21252B;
    --scrollbar-auto-scrollbar-color-track: #2C313A;

    --input-background: #21252B;
    --input-placeholder-text: #FF0000;

    --elevation-stroke: 0 0 0 1px #2C313A66;
    --elevation-low: 0 1px 0 #21252B66, 0 1.5px 0 #21252B66, 0 2px 0 #21252B66;
    --elevation-medium: 0 4px 4px #21252B66;
    --elevation-high: 0 8px 16px #21252B66;

    --logo-primary: #F5F5F5;

    --control-brand-foreground: #FF0000;
    --control-brand-foreground-new: #FF0000;

    --background-mentioned: #E5C07B33;
    --background-mentioned-hover: #E5C07B66;
    --background-message-hover: #282C3466;
    --background-message-automod-hover: #282C3466;

    --channels-default: #D0D0D0;
    --channel-icon: #D0D0D0;
    --channel-text-area-placeholder: #808080;

    --guild-header-text-shadow: 0 1px 1px #FF0000;

    --channeltextarea-background: #2C313A;
    --activity-card-background: #21252B;
    --textbox-markdown-syntax: #D0D0D0;
    --spoiler-revealed-background: #282C34;
    --spoiler-hidden-background: #21252B;
    --android-navigation-bar-background: #21252B;

    --brand-experiment: #282C34;
}
