[user]
	email = hi@djobbo.com
	name = Djobbo
[credential]
	helper = store
[safe]
	directory = /mnt/work
	directory = /mnt/work/corehalla
	directory = /mnt/work/klaxoon
	directory = /mnt/work/github-city
	directory = /mnt/work/reaccord
	directory = /mnt/work/purplet
	directory = /mnt/work/gh-actions-js
[init]
	defaultBranch = main
[help]
	autocorrect = 5
