[user]
	email = hi@djobbo.com
	name = Djobbo
[credential]
	helper = store
[safe]
	directory = /mnt/work
	directory = /mnt/work/corehalla
	directory = /mnt/work/klaxoon
	directory = /mnt/work/github-city
	directory = /mnt/work/reaccord
	directory = /mnt/work/purplet
	directory = /mnt/work/gh-actions-js
	directory = /mnt/work/queue-bot
	directory = /mnt/data_2/.tmp/ungoogled-chromium-debian
	directory = /mnt/work/webpack-custom-hmr
	directory = /mnt/work/mvs_bot
	directory = /mnt/work/bhfr-channels
	directory = /mnt/work/eww
	directory = /mnt/work/vscode
	directory = /mnt/work/picom
[init]
	defaultBranch = main
[help]
	autocorrect = 5
