* {
    all: unset; //Unsets everything so you can style everything from scratch
}

.separator {
    color: #8D8E8E;
    font-size: 16px;
    font-weight: bold;
}

.pill {
    background-color: #2F3132;
    padding: 4px 12px;
    border-radius: 14px;
}

.bar {
    padding: 4px 16px;
    
    &>.leftpart {
        &>.icon {
            font-size: 16px;
            font-weight: bold;
        }

        &>.arrow {
            color: #E7604E;
            padding: 0 12px;
            font-weight: bold;
        }

        &>.window-title {
            font-size: 14px;
        }
    }
}

.workspace-btn {
    &>button {
        margin-bottom: 0px;
        border-radius: 50%;
        background-color: #3A3D3F;
        padding: 8px;

        &>box {
            border-radius: 50%;
            background-color: #8DB9E2;
        }

        &.active {
            &>box {
                background-color: #E7604E;
            }
        }

        &:hover {
            &>box {
                background-color: #E7604E;
            }
        }
    }
}