* {
    all: unset; //Unsets everything so you can style everything from scratch
}

.separator {
    color: #d0d0d0;
    font-size: 16px;
    font-weight: bold;
}

.pill {
    background-color: #2c313a;
    padding: 4px 12px;
    border-radius: 14px;
}

.bar {
    padding: 4px 16px;
    color: #d0d0d0;

    & > .leftpart {
        & > .icon {
            font-size: 16px;
            font-weight: bold;
        }

        & > .arrow {
            color: #e06c75;
            padding: 0 12px;
            font-weight: bold;
        }

        & > .window-title {
            font-size: 14px;
        }
    }
}

.workspace-btn {
    & > button {
        margin-bottom: 0px;
        border-radius: 50%;
        background-color: #383e4a;
        padding: 8px;

        & > box {
            border-radius: 50%;
            background-color: #d0d0d0;
        }

        &.active {
            & > box {
                background-color: #e06c75;
            }
        }

        &:hover {
            & > box {
                background-color: #e06c75;
            }
        }
    }
}
