---
export interface Props {
    title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/logo.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main class="min-h-full max-w-screen-xl mx-auto p-8">
            <slot />
        </main>
    </body>
</html>
<style>
    html,
    body {
        height: 100%;
        @apply bg-bg text-text;
    }
</style>
<style is:global>
    @media print {
        * {
            print-color-adjust: exact;
            -webkit-print-color-adjust: exact;
        }
    }
</style>
