 {
    background:                 #21252B;
    background-alt:             #383E4A;
    background-alt2:            #E5C07B;
    foreground:                 #F5F5F5;
    foreground-alt:             #808080;
    accent:                     #E06C75;
    transparent:                #282C3400;
    text-color:                 @fg;
}