 {
    background:                 #292828;
    background-alt:             #32302f;
    background-alt2:            #bd6f3e;
    foreground:                 #ddc7a1;
    foreground-alt:             #1c1c1c;
    accent:                     #ea6962;
    transparent:                #00000000;
    text-color:                 @fg;
}