---
export type Props = {
    src: string
    alt: string
    className?: string
}

const { src, alt, className } = Astro.props
---

<div
    class:list={[
        "w-12 h-12 rounded-full overflow-hidden border-4 border-bg1",
        className,
    ]}
>
    <img src={src} alt={alt} class="w-full h-full object-cover object-center" />
</div>
