---
import { HiPencilSquare } from "react-icons/hi2/index.js"
import { getCurrentLocale, baseLocale, Trans } from "../i18n"
import Avatar from "./Avatar.astro"
import LanguageSwitcher from "./LanguageSwitcher.astro"
import ThemeToggle from "./ThemeToggle.astro"

const currentLocale = getCurrentLocale(Astro)
---

<header class="print-hidden w-full px-4 lg:px-16 bg-bg">
    <div
        class="flex gap-8 justify-between items-center h-20 lg:h-24 px-2 lg:px-8 border-b border-outline"
    >
        <a
            href={currentLocale === baseLocale ? "/" : `/${currentLocale}`}
            class="group whitespace-nowrap leading-5 flex items-center gap-2"
        >
            <Avatar src="/logo.png" alt="logo" className="border-bg" />
            <span>
                <span class="block">Djobbo Maïga</span>
                <span class="text-text1 text-xs">
                    <span class="group-hover:hidden">エレガント</span>
                    <span class="hidden group-hover:inline-block w-full">
                        <Trans>
                            Elegant design
                            <Fragment slot="fr">Design élégant</Fragment>
                        </Trans>
                    </span>
                </span>
            </span>
        </a>
        <div class="flex justify-end items-center gap-3 sm:gap-6">
            <div
                class="flex justify-end flex-wrap items-center gap-x-3 gap-y-2"
            >
                <ThemeToggle />
                <LanguageSwitcher />
            </div>
            <a
                href="mailto:hi@djobbo.com"
                class="bg-primary px-4 py-2 rounded text-light-bg1 hidden sm:block"
            >
                <Trans>
                    Get in touch
                    <Fragment slot="fr">Contactez-moi</Fragment>
                </Trans>
            </a>
            <a
                href="mailto:hi@djobbo.com"
                class="bg-primary p-3.5 rounded-full text-light-bg1 sm:hidden"
            >
                <HiPencilSquare className="w-4 h-4" />
            </a>
        </div>
    </div>
</header>
