<header class="print-hidden w-full px-16">
    <div
        class="flex justify-between items-center h-24 px-8 border-b border-outline"
    >
        <a href="/">djobbo.com</a>
        <button class="bg-primary px-4 py-2 rounded text-bg1"
            >Get in touch</button
        >
    </div>
</header>
