---
import Dots from "./Dots.astro"
---

<div
    class="relative print-hidden w-full h-[40vh] min-h-[400px] flex flex-col justify-center items-center z-10"
>
    <Dots
        className="print-hidden absolute top-0 left-0 right-0 -z-10"
        dotClassName="fill-bg2"
        nx={12}
        ny={6}
    />
    <h1 class="text-4xl sm:text-5xl lg:text-7xl text-center">
        Let’s create <span
            class="relative text-transparent bg-clip-text bg-secondary"
        >
            d'inoubliables*
        </span><br />user experiences.
    </h1>
    <div class="flex flex-col sm:flex-row gap-x-8 gap-y-4 mt-12">
        <a
            href="#projects"
            class="w-48 py-4 bg-text text-bg border border-transparent text-center"
            >View projects</a
        >
        <a
            href="/resume.pdf"
            target="_blank"
            class="w-48 py-4 border border-outline text-center bg-bg">Resume</a
        >
    </div>
</div>
<p class="text-end text-text1 text-xs pb-8">
    *<span class="font-semibold">unforgettable</span> in French
</p>
<a
    href="#about-me"
    class="print-hidden flex flex-col items-center gap-2 pb-8 cursor-default"
>
    <span class="cursor-pointer text-xs text-text1 uppercase">
        More about me
    </span>
    <svg
        width="10"
        height="40.5"
        viewBox="0 0 20 81"
        class="fill-primary ml-[7.5px] cursor-pointer stroke-1 stroke-primary"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M18.5 37L17.8813 36.9116L18.5 37ZM4.50015 80.5L7.65807 74.0107L0.45922 74.5205L4.50015 80.5ZM2.37883 0.932329C1.00026 13.5898 1.21429 22.6544 2.34565 29.0234C3.47468 35.3792 5.53257 39.1322 7.92127 41.0499C10.3449 42.9956 13.0249 42.9842 15.1466 41.9963C17.2279 41.0273 18.8331 39.0877 19.1187 37.0884L17.8813 36.9116C17.6669 38.4123 16.3971 40.0352 14.619 40.8631C12.8814 41.6721 10.7176 41.6919 8.70382 40.0751C6.65504 38.4303 4.6817 35.0271 3.57638 28.8048C2.4734 22.5956 2.24998 13.6602 3.62148 1.06767L2.37883 0.932329ZM19.1187 37.0884C19.5562 34.0264 18.6224 31.2401 16.8937 29.7397C16.021 28.9823 14.9416 28.5544 13.7631 28.6218C12.5881 28.689 11.3864 29.244 10.2498 30.3173C7.99504 32.4465 5.9031 36.6957 4.57079 43.8028C3.23444 50.9314 2.64696 61.0186 3.47885 74.9256L4.72662 74.8509C3.89842 61.0057 4.48809 51.0281 5.79939 44.0331C7.11472 37.0166 9.14092 33.0837 11.108 31.2261C12.0824 30.3061 13.0176 29.9165 13.8345 29.8698C14.648 29.8232 15.4157 30.1121 16.0743 30.6837C17.4082 31.8414 18.274 34.1625 17.8813 36.9116L19.1187 37.0884Z"
        ></path>
    </svg>
</a>
