---
import { Trans, i18n } from "../i18n"
import Emoji from "./Emoji.astro"
import Project, { Project as ProjectType } from "./Project.astro"

const t = i18n(Astro)

const projects: ProjectType[] = [
    {
        title: "Corehalla",
        description: t["projects:corehalla:description"](),
        image: "/projects/corehalla.jpg",
        stack: [
            "React",
            "NextJS",
            "TypeScript",
            "Tailwind",
            "Supabase",
            "Prisma",
            "tRPC",
            "Express",
            "Figma",
        ],
        featured: true,
        links: {
            github: "https://github.com/djobbo/corehalla",
            live: "https://corehalla.com",
        },
    },
    {
        title: "Reaccord",
        description: t["projects:reaccord:description"](),
        image: "/projects/reaccord.png",
        stack: ["React", "NodeJS", "TypeScript", "DiscordJS", "Webpack"],
        featured: true,
        links: {
            github: "https://github.com/djobbo/reaccord",
            npm: "https://www.npmjs.com/package/reaccord",
        },
    },
    {
        title: "Portfolio",
        description: t["projects:portfolio:description"](),
        image: "/projects/portfolio.jpg",
        stack: [
            "Astro",
            "React",
            "TypeScript",
            "Tailwind",
            "Figma",
            "Playwright",
            "Rive",
        ],
        links: {
            github: "https://github.com/djobbo/aki/tree/master/portfolio",
            live: "https://djobbo.com",
        },
    },
    {
        title: "BuckoGraphics",
        description: t["projects:bucko:description"](),
        image: "/projects/bucko.jpg",
        stack: [
            "React",
            "NextJS",
            "TypeScript",
            "Tailwind",
            "Figma",
            "Photoshop",
            "Illustrator",
        ],
        links: {
            live: "https://bucko.graphics",
        },
    },
    {
        title: "Dotfiles",
        description: t["projects:dotfiles:description"](),
        image: "/projects/dotfiles.png",
        stack: ["Bash", "Python", "TypeScript", "Electron", "Vite", "Linux"],
        links: {
            github: "https://github.com/djobbo/aki",
        },
    },
    {
        title: "Brawlhalla French League",
        description: t["projects:bfl:description"](),
        image: "/projects/bfl.jpg",
        stack: [
            "React",
            "NextJS",
            "TypeScript",
            "SCSS",
            "Figma",
            "Contentful CMS",
        ],
        links: {
            live: "https://league.brawl.fr",
        },
    },
]
---

<h2 id="projects" class="text-2xl mt-12 mb-8 text-center font-semibold">
    <Trans>
        What I've built
        <Fragment slot="fr">Mes dernières créations</Fragment>
    </Trans>
    <Emoji emoji="👨‍💻" />
</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {projects.map((project) => <Project project={project} />)}
</div>
