---
import Emoji from "./Emoji.astro"
import Project, { Project as ProjectType } from "./Project.astro"

const projects: ProjectType[] = [
    {
        title: "Corehalla",
        description:
            "Website used to track the stats of millions of Brawlhalla players.",
        image: "/projects/corehalla.jpg",
        stack: [
            "React",
            "NextJS",
            "TypeScript",
            "Tailwind",
            "Supabase",
            "Prisma",
            "tRPC",
            "Express",
            "Figma",
        ],
        featured: true,
        links: {
            github: "https://github.com/djobbo/corehalla",
            live: "https://corehalla.com",
        },
    },
    {
        title: "Reaccord",
        description:
            "Custom React renderer that lets you write Discord bots with React & JSX.",
        image: "/projects/reaccord.png",
        stack: ["React", "NodeJS", "TypeScript", "DiscordJS", "Webpack"],
        featured: true,
        links: {
            github: "https://github.com/djobbo/reaccord",
            npm: "https://www.npmjs.com/package/reaccord",
        },
    },
    {
        title: "Portfolio",
        description: "My current portfolio website and Resume.",
        image: "/projects/portfolio.jpg",
        stack: [
            "Astro",
            "React",
            "TypeScript",
            "Tailwind",
            "Figma",
            "Playwright",
        ],
        links: {
            github: "https://github.com/djobbo/aki/tree/master/portfolio",
            live: "https://djobbo.com",
        },
    },
    {
        title: "BuckoGraphics",
        description: "Design startup I'm building with a friend.",
        image: "/projects/bucko.jpg",
        stack: [
            "React",
            "NextJS",
            "TypeScript",
            "Tailwind",
            "Figma",
            "Photoshop",
            "Illustrator",
        ],
        links: {
            live: "https://bucko.graphics",
        },
    },
    {
        title: "Dotfiles",
        description:
            "My Ubuntu configuration, including custom widgets built with Electron.",
        image: "/projects/dotfiles.png",
        stack: ["Bash", "Python", "TypeScript", "Electron", "Vite", "Linux"],
        links: {
            github: "https://github.com/djobbo/aki",
        },
    },
    {
        title: "Brawlhalla French League",
        description: "Brawlhalla French League news website.",
        image: "/projects/bfl.jpg",
        stack: [
            "React",
            "NextJS",
            "TypeScript",
            "SCSS",
            "Figma",
            "Contentful CMS",
        ],
        links: {
            live: "https://league.brawl.fr",
        },
    },
]
---

<h2 id="projects" class="text-2xl mt-12 mb-8 text-center font-semibold">
    Latest projects <Emoji emoji="🚀" />
</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {projects.map((project) => <Project project={project} />)}
</div>
