---
import type { IconType } from "react-icons"

export type Props = {
    id?: string
    title: string
    Icon?: IconType
    className?: string
}

const { id, title, Icon, className } = Astro.props
---

<span
    id={id}
    class:list={[
        "font-semibold",
        { "flex items-center gap-2": !!Icon },
        className,
    ]}
>
    {Icon && <Icon className="w-4 h-4" />}{title}
</span>
