---
import { ThemeToggleContent } from "./ThemeToggleContent"
---

<label
    class="relative cursor-pointer w-12 h-6 border border-outline bg-bg2 rounded-full focus-within:outline"
>
    <ThemeToggleContent client:only="react" />
</label>
