---
import { locales } from "../../i18n"
import Layout from "../../layouts/Layout.astro"

export const getStaticPaths = () => {
    return locales.map((locale) => ({ params: { locale } }))
}
---

<Layout title="Layout Test"><div>BRUH</div></Layout>
